/*Banner styles*/
.banner-container{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    max-width: 1440;
    max-height: 652;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 221px 36px 221px;


}

.banner-title{
    font-size: 48px;
    font-weight:800;
    color: rgba(13, 19, 33, 1);
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 68px;

}

.banner-description{
    font-size: 18px;
    font-weight:400;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
    text-align: center;
}
.banner-btn{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background-color: rgba(13, 19, 33, 1);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    

}

/* Web Development styles  */

.web-development-container{
    
    max-width: 946;
    max-height: 1233;
    margin: 85px 150px 85px 150px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;

}
.web-development-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

.web-development-description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .70;
margin-bottom: 48px;
}
.web-development-contents{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 48px;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 16px;
    margin-bottom: 32px;
    gap: 100px;

}



.content-title{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;

}

.content-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .70;
margin-bottom: 32px;
}
.content-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px;
background-color: rgba(255, 255, 255, 1);
}

.content-image img{
width: 259.56px;
height: 217.01px;

/* width: 206px;
height: 187px; */
}