@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.font-style{
    font-family: Azeret Mono;
}
/*Banner styles*/
.banner-container{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    max-width: 1440;
    max-height: 652;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 221px 36px 221px;


}

.banner-title{
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight:800;
    color: rgba(13, 19, 33, 1);
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 68px;

}

.banner-description{
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight:400;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
    text-align: center;
}
.banner-btn{
    font-family: Azeret Mono;
    width: 250px;
    height: 65px;
    border-radius: 8px;
    background-color: rgba(13, 19, 33, 1);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    

}

/* Web Development styles  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.web-development-container{
    
    max-width: 1140px;
    max-height: 1393px;
    margin: 85px 150px 85px 150px;
    padding: 80px 97px 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
   

}
.web-development-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

.web-development-description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .70;
margin-bottom: 48px;
}
.web-development-contents{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 946px;
    max-height: 336px;
    padding: 48px 48px;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 16px;
    margin-bottom: 32px;
    gap: 100px;

}



.content-title{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;

}

.content-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .70;
margin-bottom: 32px;
}
.content-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px;
background-color: rgba(255, 255, 255, 1);
cursor: pointer;
}

.content-image img{
width: 259.56px;
height: 217.01px;

}

/* Inspiration styles  */
.inspiration-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-top: 90px;
margin-bottom: 24px;
}
.inspiration-description{
width: 1140px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;
}
.inspiration-video{
    max-width: 1140px; 
    max-height:614px ;
    padding: 32px 32px 32px 32px;
    /* margin: 85px 150px 85px 150px; */
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}
.inspiration-video-border-radius{
    border-radius: 16px;
    overflow: hidden; /* Ensures the video content doesn't overflow outside the rounded corners */
}

/* My Current Target styles  */

.target-container{
   
    max-width: 1440px;
   
    margin: 150px 150px 150px 150px;
}
.target-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

.target-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;
}

.target-contents{
    display: flex;
    gap: 24px;
    padding:40px 40px ;
    border-radius: 16px;

}
.target-language-name{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
}
.target-language-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .70;
}
.target-learn-more{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-top: 24px;
}
.target-content-one{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius:16px ;
    padding: 40px;
    margin-right: 24px;
}

.target-content-two{
    background-color:rgba(0, 76, 232, 0.05);
    border-radius:16px ;
    padding: 40px;
    margin-right: 24px;
}

.target-content-three{
    background-color:rgba(255, 223, 0, 0.05);
    border-radius:16px ;
    padding: 40px;
    
}

/* I need support styles */

.support-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    height: 313px;
    padding: 64px 48px 64px 48px ;
    margin: 150px 150px 80px 150px;
    border-radius: 16px;

    
}
.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}

.support-description{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
section input[type="text"]{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 19px 20px 19px 20px;
width: 550px;
height: 57px;
margin-right: 16px;

}
section input[type="submit"]{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 17px 20px 17px 20px;
border-radius: 8px;
border: none;
}

/* footer  */
footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color:rgba(13, 19, 33, 0.03);
    border-radius: 16px;
}

.footer-container{
padding: 32px 150px 32px 150px;

}

.footer-contact{
    display: flex;
    justify-content: space-between;
}
.footer-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.footer-icon img{
    margin-left: 24px;
}